# =========================
# FRONTEND (Node / Vite)
# =========================
node_modules/
.pnp/
.pnp.js

# Build outputs
dist/
build/
out/
dist
dist-ssr
*.local


# Runtime / logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional (framework-specific)
.next/
.vercel/

# =========================
# BACKEND (Python / FastAPI)
# =========================
# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env

# Databases (if you use SQLite locally)
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# =========================
# GLOBAL / SHARED
# =========================
# Environment variables
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Security
*.pem
*.key

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
secrets/

# Docker
docker-compose.override.yml
docker-compose.yml
dockerfile
.dockerignore
.docker/
*.log